/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



div.contenedor {
	width: 1170px;
	height: 1330px;
	border: 1px solid red;
	margin: 0 auto;
	background-image: url("../img/page-bg-1.jpg");
}

div.logo {
	background-color: rgb(241, 171, 19);
	width: 470px;
	height: 55px;
	position: absolute;
}

div.menu {
	background-color: rgb(241, 171, 19);
	height: 55px;
	width: 700px;
	float: right;
	justify-content: center;
	display: flex;
}

div.menu ul {
	list-style: none;
}

div.menu>ul>li {
	float: left;
}

div.menu>ul>li>a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-family: 'Roboto Mono', monospace;

}

div.menu>ul>li>a:hover {
	background-color: red;

}

div.menu ul ul {
	position: absolute;
	display: none;
	border: 1px solid green;
	text-align: center;
	background-color: rgb(139, 170, 170);
	z-index: 100;

}

div.menu ul ul li {
	display: block;
	border: 1px solid red;

}

div.menu ul ul li a {
	border: 1px solid red;
	padding: 20px 40px;
	display: block;
	text-decoration: none;
	color: rgb(253, 253, 253);
	font-family: 'Roboto Mono', monospace;

}

div.menu li:hover ul {
	display: block;
}

p {
	clear: both;
}

div#contenedor-galeria {
	border: 1px solid olive;
	width: 765px;
	height: 350px;
	margin-top: 10px;
	display: block;
	position: absolute;
}

div#galeria {
	width: 765px;
	height: 350px;
	transform-style: preserve-3d;
	transition: all 4s linear 0s;
}

div#galeria:hover {
	transform: rotateX(360deg);
	transition: all 4s linear 0s;
}

div#galeria div {
	position: absolute;
	border: 1px solid red;
}

div#galeria div:nth-child(1) {
	transform: rotateX(90deg) translateZ(152px);
}

div#galeria div:nth-child(2) {
	transform: rotateX(-90deg) translateZ(152px);
}

div#galeria div:nth-child(3) {
	transform: rotateX(180deg) translateZ(152px);
}

div#galeria div:nth-child(4) {
	transform: translateZ(152px);
}




div.noticiades {
	border: 1px solid orange;
	width: 400px;
	height: 350px;
	margin-top: 10px;

	float: right;
}

p {
	clear: both;
}

div#contenido {
	border: 1px solid rgb(34, 68, 178);
	margin-top: 10px;
	width: 1170px;
	height: 550px;
}

div.noticias {
	width: 250px;
	height: 250px;
	margin: 10px;
	margin-left: 25px;
	float: left;
}

div.titulo {
	height: 48px;
	background-color: orange;
}


div.titulo a {
	text-decoration: none;
	color: white;
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	font-size: 16px;

	margin-top: 5px;
	margin-bottom: 10px;

}

div.titulo a p {
	padding-top: 16px;
}


div#pie {
	border: 2px solid green;
	width: 1170px;
	height: 330px;
	background-color: black;



}

div.nosotros {
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 10px;
	width: 200px;
	height: 100px;
	color: white;
	font-family: 'Roboto Mono', monospace;




}

div.mapa {
	margin-top: 10px;
	width: 200px;
	height: 200px;
	position: relative;
	left: 280px;
	bottom: 113px;

}

div.ultimas {
	margin-top: 10px;
	width: 200px;
	height: 100px;
	position: relative;
	left: 570px;
	bottom: 323px;
	color: white;
	font-family: 'Roboto Mono', monospace;


}


div.video {
	width: 250px;
	height: 200px;
	position: relative;
	left: 870px;
	bottom: 430px;
}

div#redes {

	width: 255px;
	height: 50px;
	position: relative;
	left: 20px;
	bottom: 420px;
}

div.facebook {
	width: 46px;
	height: 46px;
	background-image: url("../img/social-icons.png");
	background-position: 0px 0px;
	float: left;
}

div.facebook:hover {
	width: 46px;
	height: 46px;
	background-image: url("../img/social-icons.png");
	background-position: 0px 46px;
	float: left;
}

div.twitter {
	width: 46px;
	height: 46px;
	background-image: url("../img/social-icons.png");
	background-position: -52px 0px;
	float: left;

}

div.twitter:hover {
	width: 46px;
	height: 46px;
	background-image: url("../img/social-icons.png");
	background-position: -52px 46px;
	float: left;

}


div.mundo {
	width: 46px;
	height: 46px;
	background-image: url("../img/social-icons.png");
	background-position: -104px 0px;
	float: left;

}

div.mundo:hover {

	width: 46px;
	height: 46px;
	background-image: url("../img/social-icons.png");
	background-position: -104px 46px;
	float: left;

}

div.wifi {
	width: 46px;
	height: 46px;
	background-image: url("../img/social-icons.png");
	background-position: -156px 0px;
	float: left;

}

div.wifi:hover {
	width: 46px;
	height: 46px;
	background-image: url("../img/social-icons.png");
	background-position: -156px 46px;
	float: left;

}

div.flecha {
	width: 46px;
	height: 46px;
	background-image: url("../img/social-icons.png");
	background-position: -208px 0px;
	float: left;

}

div.flecha:hover {
	width: 46px;
	height: 46px;
	background-image: url("../img/social-icons.png");
	background-position: -208px 46px;
	float: left;

}

div#menufinal {
	width: 1170px;
	height: 50px;
	position: relative;
	bottom: 400px;
}


div#menufinal p {
	float: left;
	padding: 10px;
	color: white;
	font-family: 'Roboto Mono', monospace;

}

div#menufinal ul {
	float: right;
	list-style: none;
}


div#menufinal ul li {
	float: right;
	list-style: none;
	padding: 10px;
	color: white;
	font-family: 'Roboto Mono', monospace;

}

div#menufinal ul li:hover {
	color: red;
}